/* * {
    box-sizing: border-box;
} */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
}

h1 {
    display: flex;
    justify-content: flex-end;
    /* align-self: flex-end; */
    margin-bottom: 20px;
    padding-right: 30px;
    color: white;
    /* font-size: 500px; */
}

h1:hover {
    cursor: pointer;
}

h2 {
    font-size: 35px;
    margin-top: 40px;
    font-weight: lighter;
    cursor:default;
}

h3{
    margin: 0;
    margin-top: 15px;
    margin-left: 20px;
    color:rgba(0,0,0, .55)
}



aside {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 20px;
    filter: invert(57%) sepia(67%) saturate(869%) hue-rotate(172deg) brightness(82%) contrast(96%);
}

aside:hover {
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 70px;

}

li {
    color: white;
    font-size: 18px;
    padding: 40px;
    padding-left: 2px;
}

li:hover {
    cursor: pointer;
}

img {
    padding-right: 8px;
}

img:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-rows: 170px 100px 850px;
    height: 100vh;
    width: 100%;
}

.top-bar {
  background-color: #333;
  display: grid;
  align-items:baseline;
}

.center {
    padding-left: 25px; 
}

.mid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(30vw, 160px);
    grid-gap: 12px;
    padding: 20px;
}

.grid-item {
    border: 1px  solid rgba(0,0,0, .05);
    box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.grid-item:hover {
    cursor: pointer;
}

.playlists, 
.personal-videos {
    color: gray;
}

.playlists-img, 
.user-img {
    filter: invert(57%) sepia(67%) saturate(869%) hue-rotate(172deg) brightness(82%) contrast(96%);
}

.shares-img {
    filter: invert(100%);
}

.turtle {
    max-height: 35%;
    width: 100%;
    object-fit: cover;
}

.date {
    margin: 0;
    margin-left: 20px;
    color:rgba(0,0,0, .35)
}

.link {
    object-fit: cover;
    margin: 20px 0 0 60px;
    width: 70%;
    color:rgba(0,0,0, .35);
    background-color: rgba(206, 206, 206, 0.6); 
    word-wrap: break-word;
}

.box-playlist {
    margin: 20px 0 0 20px;
    color:rgba(0,0,0, .55);
    font-size: 85%;
}

.box-name-of-playlist {
    margin-left: 20px;
    margin-top: 0;
    color:rgba(0,0,0, .55);
    font-size: 20px;
}

.box-attachments {
    margin: 20px 0 0 20px;
    color:rgba(0,0,0, .55);
    font-size: 80%;
}

.box-number {
    margin-left: 20px;
    margin-top: 0;
    color: rgb(46, 149, 209, .8);
    font-size: 40px;
    font-weight: lighter;
}

