/* * {
    box-sizing: border-box;
} */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 50px;
    color: white;
    font-size: 50px;
}

h2 {
    font-size: 35px;
    margin-top: 40px;
    cursor:default;
}

aside {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 20px;
    filter: invert(57%) sepia(67%) saturate(869%) hue-rotate(172deg) brightness(82%) contrast(96%);
}

ul {
    position: absolute;
    margin-top: 100px;
}

li {
    color: white;
    font-size: 18px;
    padding: 40px;
    padding-left: 2px;
}

li:hover {
    cursor: pointer;
}

img {
    filter: invert(100%);
    padding-right: 8px;
}

img:hover {
    cursor: pointer;
}



.grid-container {
    display: grid;
    grid-template-rows: 150px 100px 850px;
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}

.top-bar {
  background-color: #333;
  display: grid;
  align-items:baseline;
}

.center {
    padding-left: 25px; 
    /* padding-bottom: 20px; */
}

.mid-section {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* background-color: azure; */
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    /* background-color:aliceblue; */
    border: 1px  solid rgba(0,0,0, .05);
    box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.grid-item:hover {
    cursor: pointer;
}

.playlists, 
.personal-videos {
    color: gray;
}

.playlists-img, 
.user-img {
    filter: invert(57%) sepia(67%) saturate(869%) hue-rotate(172deg) brightness(82%) contrast(96%);
}
